
{% extends 'base.html' %}
{% block title %}
    {{ user_obj.get_full_name }}
{% endblock %}
{% block menu %}
    <li><a class="nav-link" href="{% url 'accounts:change' user_obj.pk%}">Редактировать</a></li>
{% endblock %}
{% block content %}
<div class="container pt-4">

    <h3 class="mt-5">User: {{ user_obj.username }}</h3>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
    {% endif %}
{% if user_obj.profile.profile_github  %}
    <a href="{{ user_obj.profile.profile_github }}" class="d-block mt-4"> Github Profile</a>
{% endif %}
    <br>
   <h2>О себе: {{ user_obj.profile.about_myself }}</h2>

 <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <p>Почта: {{ user_obj.email }}</p>
    {% include 'partial/project_list.html' with projects=user_obj.project.all %}


</div>
{% endblock %}