<div class="pagination">
    <span class="step-links">
        <a href="?{% if query %}{{ query }}&{% endif %}page=1" class="btn btn-light  border-0 p-2 text-black-50" >&laquo;В начало</a>
        {% if page_obj.has_previous %}
            <a href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.previous_page_number }}" class="btn btn-light border-0 p-2 text-black-50" >Назад</a>
        {% else %}
            <span class="btn btn-light p-2 border-0 text-black-50">Назад</span>
        {% endif %}

        <form class="current-page" method="get">
            <label for="page">
                Страница <input type="text" name="page" id="page" value="{{ page_obj.number }}">
                из {{ page_obj.paginator.num_pages }}.
            </label>
        </form>

        {% if page_obj.has_next %}
            <a href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.next_page_number }}" class="btn btn-light p-2 border-0 text-black-50">Далее</a>
        {% else %}
            <span class="btn btn-light p-2 border-0 text-black-50">Далее</span>
        {% endif %}
        <a href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.paginator.num_pages }}" class="btn btn-light p-2 border-0 text-black-50" >В конец &raquo;</a>
    </span>
</div>

