<div class="pagination">
    <span class="step-links">
        <a href="?{% if query %}{{ query }}&{% endif %}page=1" class="card-link badge badge-dark p-2 text-white" >&laquo;В начало</a>
        {% if page_obj.has_previous %}
            <a href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.previous_page_number }}" class="card-link badge badge-dark p-2  text-white" >Назад</a>
        {% else %}
            <span class="card-link badge badge-dark p-2 text-white">Назад</span>
        {% endif %}

        <form class="current-page" method="get">
            <label for="page">
                Страница <input type="text" name="page" id="page" value="{{ page_obj.number }}">
                из {{ page_obj.paginator.num_pages }}.
            </label>
        </form>

        {% if page_obj.has_next %}
            <a href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.next_page_number }}" class="card-link badge badge-dark p-2 text-white">Далее</a>
        {% else %}
            <span class="card-link badge badge-dark p-2 text-white">Далее</span>
        {% endif %}
        <a href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.paginator.num_pages }}" class="card-link badge badge-dark p-2 text-white" >В конец &raquo;</a>
    </span>
</div>
