{% extends 'base.html' %}

{% block title %}Hello{% endblock %}
{% block search%}
     {% include 'partial/simple_search.html' %}
{% endblock %}
{% block content %}

    <h1 class="my" >My Tasks</h1>

    {% if is_paginated %}
   {% include 'partial/pagination.html' %}
{% endif %}


    {% for task in tasks %}
        <div class="card border-dark text-white bg-secondary mb-3" style="max-width: 23rem;">
  <div class="card-body">
      <a href="{% url 'task_view' task.pk %}"><h5 class="card-title text-white">{{ task.summary }}</h5></a>
    <h6 class="card-subtitle mb-2 text-white">Статус: {{ task.status }}</h6>
    <a href="{% url 'task_update' task.pk %}" class="card-link badge badge-dark p-2  text-white">Update</a>
    <a href="{% url 'task_delete' task.pk %}" class="card-link badge badge-dark p-2 text-white">Delete</a>
    <a href="{% url 'index' %}" class="card-link badge badge-dark p-2 text-white">Home</a>

  </div>
</div>

    {% endfor %}
    {% if is_paginated %}
   {% include 'partial/pagination.html' %}
{% endif %}


{% endblock %}