{% extends 'base.html' %}

{% block title %}View{% endblock %}

{% block menu %}
    <li class="nav-item"><a class="nav-link" href="{% url 'task_update' task.pk %}">Update</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'task_delete' task.pk %}">Delete</a></li>
{% endblock %}

{% block content %}

<div class="card text-center">
  <div class="card-header">
  <h1 class="my">{{task.summary }}</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title font-weight-bold">{{ task.descriptions }}</h5>
    <p class="card-text font-weight-bold">Type: {% for type in task.type.all %}{{ type.name }}{% if not forloop.last %}, {% endif %}{% endfor %}.<br>
    By: {{ task.status}} </p>

     <a href="{% url 'project_view' task.project.pk %}" class="btn btn-light">Project</a>
    {% if  perms.webapp.change_task and request.user in task.project.users.all%}
     <a href="{% url 'task_update' task.pk %}" class="btn btn-light">Update</a>
  {% endif %}
    {% if  perms.webapp.delete_task and request.user in task.project.users.all%}

     <a href="{% url 'task_delete' task.pk %}" class="btn btn-light">Delete</a>
    {% endif %}


  </div>
  <div class="card-footer text-muted">
      <p class=" font-italic">Create time: {{ task.created_at }}</p>
      <p class="font-italic">Update time: {{ task.update_at }}</p>
  </div>
</div>



{% endblock %}
