{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li class="nav-item"><a class="nav-link" href="{% url 'project_view' project.pk %}">Отмена</a></li>
{% endblock %}

{% block content %}
    <h1 class="my">Вы уверены, что хотите удалить проект "{{ project.name }}"?</h1>
    <form action="{% url "project_delete" project.pk %}" method="post">
        {% csrf_token %}

        <p><input class="btn btn-primary buttons"  type="submit" value="Да"></p>
        <p><a class="btn btn-primary"  role="button" href="{% url 'project_view' project.pk %}">Отмена</a></p>
    </form>
    <h3>Описание проекта: </h3>
    <p>{{ project.descriptions }}</p>
{% endblock %}
